<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Password Reset Confirmation</h2>
<p>
  Hi <%= @user.display_name %>,
  <br/><br/>
  A one-time password reset has been requested on behalf of your account.
  <br/>
  To finish resetting your password, just follow this link: <a href=<%=@url%>>Reset Password</a>.
  <br/><br/>
  Thank you for using TURDMate!
</p>
</body>
</html>